.smash
    position: relative
    padding-top: 331px
    padding-bottom: 342px
    &__title
        margin: 0
        margin-bottom: 40px
        width: 382px
    &__text
        width: 411px
    &-wrapper
        &__item
            position: relative
            width: 485px
            border: 2px solid $dark
            padding: 25px 20px
            &--indent-1
                position: absolute
                top: 70px
                right: 467px
            &--indent-2
                position: absolute
                right: 265px
                top: 369px
            &--indent-3 
                position: absolute
                top: 671px
                right: 467px
        &__num
            position: absolute
            top: -14px
            left: -14px 
            background-color: $btn-color 
            border-radius: 50%
            padding: 1px 7px 1px 7px
            font-size: 18px             
            line-height: 130%
            font-family: "Noto Sans"  
        &__title
            font-weight: bold
            font-size: 20px
            line-height: 130%
            margin-bottom: 20px
        &__text
            width: 445px
            font-size: 18px
            line-height: 130%
    &-arrow
        &__right
            position: absolute
            top: 89px
            right: 750px
        &__bottom
            position: absolute
            top: 559px
            right: 748px
            z-index: 1
